body{
  background-image:url("../images/fondo.jpg");
}
.navbar2{
 background-color:#A451F3!important;
}
/*
Este es el color del 1er navbar
  #EBCEFF
*/
.nav-pills{
  background-color:#EBCEFF!important;
}
.navbar-light{
  background-color: #EBCEFF;
}
/*
El footer
*/
footer{
  background-color: #A451F3;
}
.instagram{
  text-decoration: none;
}
.derechos{
  text-align: center;
}
/*
las catetgorias en la sección shop
*/
.header .row{
  margin-top:70px;
}
.categories{
  margin:70 px 0;
}
.col-3{
  flex:30%;
  min-width:250px;
  margin-bottom:30px;
}
.col-3 img{
  width:100%;
}
.small-container{
  max-width: 1080px;
  margin:auto;
  padding-left:25px;
  padding-right:25px;
}
/*
Video portada
*/
#video, video {
  width: 100%;
  height:-40%;
  margin-top:none;
}
.nuevo{
  text-align: center;
}
/*
Prueba presentación responsive
*/
.presentacion{
  width:100%;
}
/*
prueba imagén presentación
*/
.circular--square {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
/*
Este es el modal para el carrito de compras
*/
.boton {
  padding: 2rem 0rem;
}

.table-image thead td, .table-image thead th {
  border: 0;
  color: #666;
  font-size: 0.8rem;
}
.table-image td, .table-image th {
  vertical-align: middle;
  text-align: center;
}
.table-image td.qty, .table-image th.qty {
  max-width: 2rem;
}

.price {
  margin-left: 1rem;
}

.modal-footer {
  padding-top: 0rem;
}


